In [298]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
%matplotlib inline

In [299]:
df_1= pd.read_csv('a1_raw.csv')
df_2= pd.read_csv('a1_va3.csv')
df_3= pd.read_csv('a2_raw.csv')
df_4= pd.read_csv('a3_raw.csv')
df_5= pd.read_csv('a3_va3.csv')
df_6= pd.read_csv('b1_raw.csv')
df_7= pd.read_csv('b1_va3.csv')
df_8= pd.read_csv('b3_raw.csv')
df_9= pd.read_csv('b3_va3.csv')
df_10= pd.read_csv('c1_raw.csv')
df_11= pd.read_csv('c1_va3.csv')
df_12= pd.read_csv('c3_raw.csv')
df_13= pd.read_csv('c3_va3.csv')
df_14=pd.read_csv('test.csv')

In [300]:
df_1.shape
df_2.shape
df_3.shape
df_4.shape
df_5.shape
df_6.shape
df_7.shape
df_8.shape
df_9.shape
df_10.shape
df_11.shape
df_12.shape
df_13.shape
df_14.shape

(1260, 32)

In [301]:
df_1.info()
df_2.info()
df_3.info()
df_4.info()
df_5.info()
df_6.info()
df_7.info()
df_8.info()
df_9.info()
df_10.info()
df_11.info()
df_12.info()
df_13.info()
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747 entries, 0 to 1746
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lhx        1747 non-null   float64
 1   lhy        1747 non-null   float64
 2   lhz        1747 non-null   float64
 3   rhx        1747 non-null   float64
 4   rhy        1747 non-null   float64
 5   rhz        1747 non-null   float64
 6   hx         1747 non-null   float64
 7   hy         1747 non-null   float64
 8   hz         1747 non-null   float64
 9   sx         1747 non-null   float64
 10  sy         1747 non-null   float64
 11  sz         1747 non-null   float64
 12  lwx        1747 non-null   float64
 13  lwy        1747 non-null   float64
 14  lwz        1747 non-null   float64
 15  rwx        1747 non-null   float64
 16  rwy        1747 non-null   float64
 17  rwz        1747 non-null   float64
 18  timestamp  1747 non-null   int64
 19  phase      1747 non-null   object
dtypes: float64(18), int64(1), object(1)
memory usage: 273.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1743 entries, 0 to 1742
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1743 non-null   float64
 1   2       1743 non-null   float64
 2   3       1743 non-null   float64
 3   4       1743 non-null   float64
 4   5       1743 non-null   float64
 5   6       1743 non-null   float64
 6   7       1743 non-null   float64
 7   8       1743 non-null   float64
 8   9       1743 non-null   float64
 9   10      1743 non-null   float64
 10  11      1743 non-null   float64
 11  12      1743 non-null   float64
 12  13      1743 non-null   float64
 13  14      1743 non-null   float64
 14  15      1743 non-null   float64
 15  16      1743 non-null   float64
 16  17      1743 non-null   float64
 17  18      1743 non-null   float64
 18  19      1743 non-null   float64
 19  20      1743 non-null   float64
 20  21      1743 non-null   float64
 21  22      1743 non-null   float64
 22  23      1743 non-null   float64
 23  24      1743 non-null   float64
 24  25      1743 non-null   float64
 25  26      1743 non-null   float64
 26  27      1743 non-null   float64
 27  28      1743 non-null   float64
 28  29      1743 non-null   float64
 29  30      1743 non-null   float64
 30  31      1743 non-null   float64
 31  32      1743 non-null   float64
 32  Phase   1743 non-null   object
dtypes: float64(32), object(1)
memory usage: 449.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264 entries, 0 to 1263
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lhx        1264 non-null   float64
 1   lhy        1264 non-null   float64
 2   lhz        1264 non-null   float64
 3   rhx        1264 non-null   float64
 4   rhy        1264 non-null   float64
 5   rhz        1264 non-null   float64
 6   hx         1264 non-null   float64
 7   hy         1264 non-null   float64
 8   hz         1264 non-null   float64
 9   sx         1264 non-null   float64
 10  sy         1264 non-null   float64
 11  sz         1264 non-null   float64
 12  lwx        1264 non-null   float64
 13  lwy        1264 non-null   float64
 14  lwz        1264 non-null   float64
 15  rwx        1264 non-null   float64
 16  rwy        1264 non-null   float64
 17  rwz        1264 non-null   float64
 18  timestamp  1264 non-null   int64
 19  phase      1264 non-null   object
dtypes: float64(18), int64(1), object(1)
memory usage: 197.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1834 entries, 0 to 1833
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lhx        1834 non-null   float64
 1   lhy        1834 non-null   float64
 2   lhz        1834 non-null   float64
 3   rhx        1834 non-null   float64
 4   rhy        1834 non-null   float64
 5   rhz        1834 non-null   float64
 6   hx         1834 non-null   float64
 7   hy         1834 non-null   float64
 8   hz         1834 non-null   float64
 9   sx         1834 non-null   float64
 10  sy         1834 non-null   float64
 11  sz         1834 non-null   float64
 12  lwx        1834 non-null   float64
 13  lwy        1834 non-null   float64
 14  lwz        1834 non-null   float64
 15  rwx        1834 non-null   float64
 16  rwy        1834 non-null   float64
 17  rwz        1834 non-null   float64
 18  timestamp  1834 non-null   int64
 19  phase      1834 non-null   object
dtypes: float64(18), int64(1), object(1)
memory usage: 286.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1830 non-null   float64
 1   2       1830 non-null   float64
 2   3       1830 non-null   float64
 3   4       1830 non-null   float64
 4   5       1830 non-null   float64
 5   6       1830 non-null   float64
 6   7       1830 non-null   float64
 7   8       1830 non-null   float64
 8   9       1830 non-null   float64
 9   10      1830 non-null   float64
 10  11      1830 non-null   float64
 11  12      1830 non-null   float64
 12  13      1830 non-null   float64
 13  14      1830 non-null   float64
 14  15      1830 non-null   float64
 15  16      1830 non-null   float64
 16  17      1830 non-null   float64
 17  18      1830 non-null   float64
 18  19      1830 non-null   float64
 19  20      1830 non-null   float64
 20  21      1830 non-null   float64
 21  22      1830 non-null   float64
 22  23      1830 non-null   float64
 23  24      1830 non-null   float64
 24  25      1830 non-null   float64
 25  26      1830 non-null   float64
 26  27      1830 non-null   float64
 27  28      1830 non-null   float64
 28  29      1830 non-null   float64
 29  30      1830 non-null   float64
 30  31      1830 non-null   float64
 31  32      1830 non-null   float64
 32  Phase   1830 non-null   object
dtypes: float64(32), object(1)
memory usage: 471.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lhx        1073 non-null   float64
 1   lhy        1073 non-null   float64
 2   lhz        1073 non-null   float64
 3   rhx        1073 non-null   float64
 4   rhy        1073 non-null   float64
 5   rhz        1073 non-null   float64
 6   hx         1073 non-null   float64
 7   hy         1073 non-null   float64
 8   hz         1073 non-null   float64
 9   sx         1073 non-null   float64
 10  sy         1073 non-null   float64
 11  sz         1073 non-null   float64
 12  lwx        1073 non-null   float64
 13  lwy        1073 non-null   float64
 14  lwz        1073 non-null   float64
 15  rwx        1073 non-null   float64
 16  rwy        1073 non-null   float64
 17  rwz        1073 non-null   float64
 18  timestamp  1073 non-null   int64
 19  phase      1073 non-null   object
dtypes: float64(18), int64(1), object(1)
memory usage: 167.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1069 entries, 0 to 1068
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1069 non-null   float64
 1   2       1069 non-null   float64
 2   3       1069 non-null   float64
 3   4       1069 non-null   float64
 4   5       1069 non-null   float64
 5   6       1069 non-null   float64
 6   7       1069 non-null   float64
 7   8       1069 non-null   float64
 8   9       1069 non-null   float64
 9   10      1069 non-null   float64
 10  11      1069 non-null   float64
 11  12      1069 non-null   float64
 12  13      1069 non-null   float64
 13  14      1069 non-null   float64
 14  15      1069 non-null   float64
 15  16      1069 non-null   float64
 16  17      1069 non-null   float64
 17  18      1069 non-null   float64
 18  19      1069 non-null   float64
 19  20      1069 non-null   float64
 20  21      1069 non-null   float64
 21  22      1069 non-null   float64
 22  23      1069 non-null   float64
 23  24      1069 non-null   float64
 24  25      1069 non-null   float64
 25  26      1069 non-null   float64
 26  27      1069 non-null   float64
 27  28      1069 non-null   float64
 28  29      1069 non-null   float64
 29  30      1069 non-null   float64
 30  31      1069 non-null   float64
 31  32      1069 non-null   float64
 32  Phase   1069 non-null   object
dtypes: float64(32), object(1)
memory usage: 275.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424 entries, 0 to 1423
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lhx        1424 non-null   float64
 1   lhy        1424 non-null   float64
 2   lhz        1424 non-null   float64
 3   rhx        1424 non-null   float64
 4   rhy        1424 non-null   float64
 5   rhz        1424 non-null   float64
 6   hx         1424 non-null   float64
 7   hy         1424 non-null   float64
 8   hz         1424 non-null   float64
 9   sx         1424 non-null   float64
 10  sy         1424 non-null   float64
 11  sz         1424 non-null   float64
 12  lwx        1424 non-null   float64
 13  lwy        1424 non-null   float64
 14  lwz        1424 non-null   float64
 15  rwx        1424 non-null   float64
 16  rwy        1424 non-null   float64
 17  rwz        1424 non-null   float64
 18  timestamp  1424 non-null   int64
 19  phase      1424 non-null   object
dtypes: float64(18), int64(1), object(1)
memory usage: 222.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420 entries, 0 to 1419
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1420 non-null   float64
 1   2       1420 non-null   float64
 2   3       1420 non-null   float64
 3   4       1420 non-null   float64
 4   5       1420 non-null   float64
 5   6       1420 non-null   float64
 6   7       1420 non-null   float64
 7   8       1420 non-null   float64
 8   9       1420 non-null   float64
 9   10      1420 non-null   float64
 10  11      1420 non-null   float64
 11  12      1420 non-null   float64
 12  13      1420 non-null   float64
 13  14      1420 non-null   float64
 14  15      1420 non-null   float64
 15  16      1420 non-null   float64
 16  17      1420 non-null   float64
 17  18      1420 non-null   float64
 18  19      1420 non-null   float64
 19  20      1420 non-null   float64
 20  21      1420 non-null   float64
 21  22      1420 non-null   float64
 22  23      1420 non-null   float64
 23  24      1420 non-null   float64
 24  25      1420 non-null   float64
 25  26      1420 non-null   float64
 26  27      1420 non-null   float64
 27  28      1420 non-null   float64
 28  29      1420 non-null   float64
 29  30      1420 non-null   float64
 30  31      1420 non-null   float64
 31  32      1420 non-null   float64
 32  Phase   1420 non-null   object
dtypes: float64(32), object(1)
memory usage: 366.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lhx        1111 non-null   float64
 1   lhy        1111 non-null   float64
 2   lhz        1111 non-null   float64
 3   rhx        1111 non-null   float64
 4   rhy        1111 non-null   float64
 5   rhz        1111 non-null   float64
 6   hx         1111 non-null   float64
 7   hy         1111 non-null   float64
 8   hz         1111 non-null   float64
 9   sx         1111 non-null   float64
 10  sy         1111 non-null   float64
 11  sz         1111 non-null   float64
 12  lwx        1111 non-null   float64
 13  lwy        1111 non-null   float64
 14  lwz        1111 non-null   float64
 15  rwx        1111 non-null   float64
 16  rwy        1111 non-null   float64
 17  rwz        1111 non-null   float64
 18  timestamp  1111 non-null   int64
 19  phase      1111 non-null   object
dtypes: float64(18), int64(1), object(1)
memory usage: 173.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1107 non-null   float64
 1   2       1107 non-null   float64
 2   3       1107 non-null   float64
 3   4       1107 non-null   float64
 4   5       1107 non-null   float64
 5   6       1107 non-null   float64
 6   7       1107 non-null   float64
 7   8       1107 non-null   float64
 8   9       1107 non-null   float64
 9   10      1107 non-null   float64
 10  11      1107 non-null   float64
 11  12      1107 non-null   float64
 12  13      1107 non-null   float64
 13  14      1107 non-null   float64
 14  15      1107 non-null   float64
 15  16      1107 non-null   float64
 16  17      1107 non-null   float64
 17  18      1107 non-null   float64
 18  19      1107 non-null   float64
 19  20      1107 non-null   float64
 20  21      1107 non-null   float64
 21  22      1107 non-null   float64
 22  23      1107 non-null   float64
 23  24      1107 non-null   float64
 24  25      1107 non-null   float64
 25  26      1107 non-null   float64
 26  27      1107 non-null   float64
 27  28      1107 non-null   float64
 28  29      1107 non-null   float64
 29  30      1107 non-null   float64
 30  31      1107 non-null   float64
 31  32      1107 non-null   float64
 32  Phase   1107 non-null   object
dtypes: float64(32), object(1)
memory usage: 285.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1448 entries, 0 to 1447
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lhx        1448 non-null   float64
 1   lhy        1448 non-null   float64
 2   lhz        1448 non-null   float64
 3   rhx        1448 non-null   float64
 4   rhy        1448 non-null   float64
 5   rhz        1448 non-null   float64
 6   hx         1448 non-null   float64
 7   hy         1448 non-null   float64
 8   hz         1448 non-null   float64
 9   sx         1448 non-null   float64
 10  sy         1448 non-null   float64
 11  sz         1448 non-null   float64
 12  lwx        1448 non-null   float64
 13  lwy        1448 non-null   float64
 14  lwz        1448 non-null   float64
 15  rwx        1448 non-null   float64
 16  rwy        1448 non-null   float64
 17  rwz        1448 non-null   float64
 18  timestamp  1448 non-null   int64
 19  phase      1448 non-null   object
dtypes: float64(18), int64(1), object(1)
memory usage: 226.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444 entries, 0 to 1443
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1444 non-null   float64
 1   2       1444 non-null   float64
 2   3       1444 non-null   float64
 3   4       1444 non-null   float64
 4   5       1444 non-null   float64
 5   6       1444 non-null   float64
 6   7       1444 non-null   float64
 7   8       1444 non-null   float64
 8   9       1444 non-null   float64
 9   10      1444 non-null   float64
 10  11      1444 non-null   float64
 11  12      1444 non-null   float64
 12  13      1444 non-null   float64
 13  14      1444 non-null   float64
 14  15      1444 non-null   float64
 15  16      1444 non-null   float64
 16  17      1444 non-null   float64
 17  18      1444 non-null   float64
 18  19      1444 non-null   float64
 19  20      1444 non-null   float64
 20  21      1444 non-null   float64
 21  22      1444 non-null   float64
 22  23      1444 non-null   float64
 23  24      1444 non-null   float64
 24  25      1444 non-null   float64
 25  26      1444 non-null   float64
 26  27      1444 non-null   float64
 27  28      1444 non-null   float64
 28  29      1444 non-null   float64
 29  30      1444 non-null   float64
 30  31      1444 non-null   float64
 31  32      1444 non-null   float64
 32  Phase   1444 non-null   object
dtypes: float64(32), object(1)
memory usage: 372.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1260 non-null   float64
 1   2       1260 non-null   float64
 2   3       1260 non-null   float64
 3   4       1260 non-null   float64
 4   5       1260 non-null   float64
 5   6       1260 non-null   float64
 6   7       1260 non-null   float64
 7   8       1260 non-null   float64
 8   9       1260 non-null   float64
 9   10      1260 non-null   float64
 10  11      1260 non-null   float64
 11  12      1260 non-null   float64
 12  13      1260 non-null   float64
 13  14      1260 non-null   float64
 14  15      1260 non-null   float64
 15  16      1260 non-null   float64
 16  17      1260 non-null   float64
 17  18      1260 non-null   float64
 18  19      1260 non-null   float64
 19  20      1260 non-null   float64
 20  21      1260 non-null   float64
 21  22      1260 non-null   float64
 22  23      1260 non-null   float64
 23  24      1260 non-null   float64
 24  25      1260 non-null   float64
 25  26      1260 non-null   float64
 26  27      1260 non-null   float64
 27  28      1260 non-null   float64
 28  29      1260 non-null   float64
 29  30      1260 non-null   float64
 30  31      1260 non-null   float64
 31  32      1260 non-null   float64
dtypes: float64(32)
memory usage: 315.1 KB

In [302]:
df_1

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,sy,sz,lwx,lwy,lwz,rwx,rwy,rwz,timestamp,phase
0,5.347435,4.363681,1.501913,5.258967,4.319263,1.488703,5.037871,1.618295,1.778350,5.062803,4.229656,1.772577,4.972902,4.301065,1.564781,5.553945,4.370456,1.553521,5702026,Rest
1,4.869622,4.254210,1.556133,5.240113,4.346338,1.554309,5.037610,1.618370,1.778573,5.061430,4.228504,1.772859,4.974908,4.303656,1.565527,5.423875,4.303708,1.569942,5702058,Rest
2,5.357447,4.364039,1.500969,5.238928,4.347924,1.554150,5.037514,1.618298,1.778774,5.059245,4.228004,1.773568,4.981612,4.305363,1.563643,5.332170,4.438061,1.572841,5702089,Rest
3,4.942886,4.281878,1.546513,5.111436,4.229660,1.527091,5.037526,1.618612,1.778855,5.056475,4.226891,1.774519,4.987158,4.304063,1.565929,5.311104,4.396774,1.566368,5702120,Rest
4,5.003160,4.278530,1.542866,4.985812,4.182155,1.520330,5.037557,1.619226,1.778925,5.052367,4.225485,1.775536,4.983912,4.296833,1.569889,5.193762,4.335417,1.560144,5702167,Rest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,4.999737,3.840355,1.577457,4.990017,4.124610,1.546410,5.092207,1.616004,1.793314,5.094342,4.235239,1.776703,4.911455,4.145016,1.575040,5.121212,4.173772,1.590187,5807375,Rest
1743,5.001617,3.840771,1.577161,4.695521,4.148509,1.530205,5.092773,1.615753,1.793486,5.094236,4.235837,1.776754,4.913334,4.145438,1.574744,5.072464,4.175019,1.580585,5807406,Rest
1744,4.996975,3.841236,1.578423,4.700123,4.141193,1.530697,5.092515,1.615095,1.793637,5.093153,4.235420,1.776905,4.908689,4.145911,1.576006,5.074112,4.178266,1.581682,5807437,Rest
1745,5.000125,3.841455,1.577914,4.690338,4.153884,1.526481,5.092476,1.614777,1.793768,5.093362,4.234446,1.777077,4.911839,4.146133,1.575497,5.058132,4.166863,1.579690,5807499,Rest
1746,5.007900,3.841846,1.576601,5.004423,4.119151,1.547947,5.092856,1.614567,1.793805,5.093344,4.234407,1.777148,4.919612,4.146525,1.574184,5.076700,4.163444,1.586362,5807537,Rest

In [303]:
df_1.head()

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,sy,sz,lwx,lwy,lwz,rwx,rwy,rwz,timestamp,phase
0,5.347435,4.363681,1.501913,5.258967,4.319263,1.488703,5.037871,1.618295,1.778350,5.062803,4.229656,1.772577,4.972902,4.301065,1.564781,5.553945,4.370456,1.553521,5702026,Rest
1,4.869622,4.254210,1.556133,5.240113,4.346338,1.554309,5.037610,1.618370,1.778573,5.061430,4.228504,1.772859,4.974908,4.303656,1.565527,5.423875,4.303708,1.569942,5702058,Rest
2,5.357447,4.364039,1.500969,5.238928,4.347924,1.554150,5.037514,1.618298,1.778774,5.059245,4.228004,1.773568,4.981612,4.305363,1.563643,5.332170,4.438061,1.572841,5702089,Rest
3,4.942886,4.281878,1.546513,5.111436,4.229660,1.527091,5.037526,1.618612,1.778855,5.056475,4.226891,1.774519,4.987158,4.304063,1.565929,5.311104,4.396774,1.566368,5702120,Rest
4,5.003160,4.278530,1.542866,4.985812,4.182155,1.520330,5.037557,1.619226,1.778925,5.052367,4.225485,1.775536,4.983912,4.296833,1.569889,5.193762,4.335417,1.560144,5702167,Rest

In [304]:
print(df_1.describe())

               lhx          lhy          lhz          rhx          rhy  \
count  1747.000000  1747.000000  1747.000000  1747.000000  1747.000000
mean      4.733099     4.110179     1.492067     5.400730     3.860213
std       0.706462     0.782359     0.064146     0.807955     0.870350
min       1.712471     1.660291     1.183290     3.653736     1.296046
25%       4.530557     3.698008     1.467770     4.846750     3.274578
50%       4.870256     4.266777     1.487985     5.199142     4.122335
75%       5.153918     4.737138     1.524848     5.817285     4.374306
max       6.212834     5.414431     1.673418     8.546903     5.453834

               rhz           hx           hy           hz           sx  \
count  1747.000000  1747.000000  1747.000000  1747.000000  1747.000000
mean      1.483939     5.084119     1.660346     1.753750     5.099306
std       0.070478     0.181948     0.058347     0.024135     0.126167
min       1.221158     4.435888     1.415457     1.664271     4.737700
25%       1.458293     5.010395     1.632286     1.742879     5.041478
50%       1.487003     5.073397     1.655894     1.757832     5.074966
75%       1.517132     5.167158     1.678649     1.766783     5.141455
max       1.722231     5.605544     1.965343     1.853095     5.586325

                sy           sz          lwx          lwy          lwz  \
count  1747.000000  1747.000000  1747.000000  1747.000000  1747.000000
mean      4.264994     1.742626     4.584839     4.110311     1.521522
std       0.061245     0.016544     0.622707     0.683990     0.061683
min       3.992892     1.698297     1.969708     1.953082     1.245345
25%       4.235906     1.734145     4.417056     3.816689     1.502152
50%       4.272721     1.740951     4.717515     4.236164     1.531247
75%       4.297685     1.748727     4.936841     4.602459     1.554412
max       4.822887     1.811931     5.798482     5.142542     1.668777

               rwx          rwy          rwz     timestamp
count  1747.000000  1747.000000  1747.000000  1.747000e+03
mean      5.538275     3.902637     1.506997  5.739172e+06
std       0.689032     0.786473     0.071968  2.796631e+04
min       3.963918     1.643037     1.262197  5.702026e+06
25%       5.084478     3.404305     1.478446  5.718500e+06
50%       5.368165     4.146416     1.521121  5.734350e+06
75%       5.845651     4.387562     1.544963  5.751136e+06
max       8.266059     5.240774     1.719505  5.807537e+06

In [305]:
null_values_in_columns = df_14.isnull().any()
print(null_values_in_columns)

1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

In [306]:
list_of_dataframes = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13]
concatenated_df = pd.concat(list_of_dataframes, ignore_index=True)

In [307]:
concatenated_df.shape

(18514, 53)

In [320]:

data_1 = {'phase': ['Rest', 'Preparation', 'Stroke', 'Hold', 'Retraction']}
df_a = pd.DataFrame(data_1)


label_encoder_a = LabelEncoder()


df_a['phase_encoded'] = label_encoder_a.fit_transform(df_a['phase'])


concatenated_df = concatenated_df.drop(columns=['phase'])


concatenated_df['phase_encoded'] = df_a['phase_encoded']

KeyError: "['phase'] not found in axis"

In [321]:
data_2 = {'Phase': ['D', 'P', 'S', 'H', 'R']}
df_b = pd.DataFrame(data_2)


label_encoder_b = LabelEncoder()


df_b['Phase_encoded'] = label_encoder_b.fit_transform(df_b['Phase'])


concatenated_df = concatenated_df.drop(columns=['Phase'])


concatenated_df['Phase_encoded'] = df_b['Phase_encoded']

print(concatenated_df)

KeyError: "['Phase'] not found in axis"

In [310]:
numeric_columns = concatenated_df.select_dtypes(include=[np.number])
concatenated_df[numeric_columns.columns] = numeric_columns.fillna(numeric_columns.mean())

In [311]:
null_columns = concatenated_df.isnull().any() 
print(null_columns)

lhx              False
lhy              False
lhz              False
rhx              False
rhy              False
rhz              False
hx               False
hy               False
hz               False
sx               False
sy               False
sz               False
lwx              False
lwy              False
lwz              False
rwx              False
rwy              False
rwz              False
timestamp        False
1                False
2                False
3                False
4                False
5                False
6                False
7                False
8                False
9                False
10               False
11               False
12               False
13               False
14               False
15               False
16               False
17               False
18               False
19               False
20               False
21               False
22               False
23               False
24               False
25               False
26               False
27               False
28               False
29               False
30               False
31               False
32               False
phase_encoded    False
Phase_encoded    False
dtype: bool

In [312]:
concatenated_df.columns

Index(['lhx', 'lhy', 'lhz', 'rhx', 'rhy', 'rhz', 'hx', 'hy', 'hz', 'sx', 'sy',
       'sz', 'lwx', 'lwy', 'lwz', 'rwx', 'rwy', 'rwz', 'timestamp', '1', '2',
       '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15',
       '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27',
       '28', '29', '30', '31', '32', 'phase_encoded', 'Phase_encoded'],
      dtype='object')

In [313]:
X = concatenated_df.drop(columns=['Phase_encoded'])
y = concatenated_df['Phase_encoded']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [314]:
X=['lhx', 'lhy', 'lhz', 'rhx', 'rhy', 'rhz', 'hx', 'hy', 'hz', 'sx', 'sy',
       'sz', 'lwx', 'lwy', 'lwz', 'rwx', 'rwy', 'rwz', 'timestamp', 'phase',
       '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32']
y=['Phase']

In [315]:
model = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [316]:
accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 1.00